<html>
    <body>
        <h1>Home Page</h1>
        You entered: <br>
        Email: <%= a %> <br>
        Password: <%= b %> <br>
        <%= c %> <br>
        <%- d %>

        <ul>
        <% for(let i = start; i < end; i++) { %>
            <li>Hello <%= i %> </li>
        <% } %>
        </ul>
    </body>
</html>